@model PortalCOSIE.Application.DTO.Cuenta.CrearContrasenaDTO
@{
    ViewData["Title"] = "Crear cuenta";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="card p-4 shadow-lg border-0" style="max-width: 400px;">
    <div class="card-body">
        <div class="container text-center">
            <h2>Crear cuenta</h2>
            <p class="text-muted">Ingresa tus datos</p>
        </div>

        <form asp-action="Crear" novalidate method="post">
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success">
                    @TempData["Message"]
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" asp-for="IdentityUserId" />
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                        <input asp-for="Celular" class="form-control" type="tel" required
                               placeholder="Celular"
                               maxlength="10"
                               pattern="\d{0,9}"
                               oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <span asp-validation-for="Celular" class="text-danger small"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input asp-for="Contrasena" class="form-control" placeholder="Contraseña" />
                    </div>
                    <span asp-validation-for="Contrasena" class="text-danger small"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input asp-for="ConfirmarContrasena" class="form-control" placeholder="Confirmar contraseña" />
                    </div>
                    <span asp-validation-for="ConfirmarContrasena" class="text-danger small"></span>
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary shadow-sm w-100">
                    Crear
                </button>
            </div>
        </form>

    </div>
</div>
