@model PortalCOSIE.Application.DTO.Cuenta.CrearCuentaDTO
@{
    ViewData["Title"] = "Crear cuenta";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="card p-4 shadow-lg border-0" style="max-width: 400px;">
    <div class="card-body">
        <div class="container text-center">
            <h2>Crear cuenta</h2>
            <p class="text-muted">Ingresa tus datos</p>
        </div>

        <form id="formCrear" asp-action="Crear" method="post">
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        <input asp-for="Correo" class="form-control" type="email" placeholder="Correo" required />
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                        <input asp-for="Celular" class="form-control" type="text" required
                               placeholder="Celular"
                               maxlength="10"
                               pattern="\d*"
                               oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input type="password" asp-for="Contrasena" class="form-control" placeholder="Contraseña" required />
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input type="password" asp-for="ConfirmarContrasena" class="form-control" placeholder="Confirmar contraseña" required />
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary shadow-sm w-100">
                    <i class="fas fa-user-plus me-2"></i><span>Crear</span>
                </button>
            </div>

            <div class="form-text text-center mt-2">
                ¿Ya tienes una cuenta? <a asp-action="Ingresar">Ingresa aquí</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('formCrear');
            const btnSubmit = form.querySelector('button[type="submit"]');
            const boton = bloqueadorBoton(btnSubmit);

            // Evento submit
            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                e.stopImmediatePropagation();
                boton.bloquear();

                try {
                    const url = form.getAttribute('action');
                    const formData = new FormData(form);
                    const data = await executeFetch(url, 'POST', formData);
                    showGlobalModal('success', data.message, {
                        redirectUrl: '/',
                        autoClose: false
                    });
                } catch (error) {
                    showGlobalModal('error', error.message, {
                        onClose: function() {
                            boton.restaurar();
                        }
                    });
                }
            });
        });
    </script>
}