@model PortalCOSIE.Application.DTO.Cuenta.RegistrarDTO
@{
    ViewData["Title"] = "Registrar cuenta";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="card p-4 shadow-lg border-0" style="max-width: 500px;">
    <div class="card-body">
        <div class="container text-center">
            <h2>Registrar</h2>
            <p class="text-muted">Completa tus datos</p>
        </div>

        <form asp-action="Registrar" novalidate method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="row mb-3">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input asp-for="Nombre" class="form-control" type="text" placeholder="Nombre" />
                    <span asp-validation-for="Nombre" class="text-danger small"></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input asp-for="ApellidoPaterno" class="form-control" type="text" placeholder="Apellido paterno" />
                    <span asp-validation-for="ApellidoPaterno" class="text-danger small"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input asp-for="ApellidoMaterno" class="form-control" type="text" placeholder="Apellido materno" />
                    <span asp-validation-for="ApellidoMaterno" class="text-danger small"></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input asp-for="NumeroBoleta" type="text" class="form-control" required
                           placeholder="No. de boleta"
                           maxlength="10"
                           pattern="\d{0,9}"
                           oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    <span asp-validation-for="NumeroBoleta" class="text-danger small"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-graduation-cap"></i></span>
                        <select asp-for="CarreraId" asp-items="ViewBag.Carreras" class="form-select" required>
                            <option value="">- Carrera -</option>
                        </select>
                    </div>
                    <span asp-validation-for="CarreraId" class="text-danger small"></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input class="form-control"
                           id="fechaInput"
                           placeholder="Fecha ingreso"
                           onfocus="this.type='date'"
                           onblur="if(!this.value) this.type='text'"
                           type="text"
                           name="FechaIngreso"
                           asp-for="FechaIngreso" />
                    <span asp-validation-for="FechaIngreso" class="text-danger small"></span>
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary shadow-sm w-100">
                    Registrar
                </button>
            </div>
        </form>

    </div>
</div>
