<div class="modal fade" id="modalPersonal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form asp-action="Editar" id="formPersonal" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" id="identityUserId" name="identityUserId" />
                <div class="modal-header bg-primary text-white">
                    <h6 class="modal-title">
                        <i class="fas fa-edit me-2"></i>Editar personal
                    </h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <fieldset class="border rounded px-3 mb-1">
                        <legend class="float-none w-auto px-2 text-primary fs-6">
                            <i class="fas fa-user-circle me-2"></i>Datos personales
                        </legend>
                        <div class="row mb-3">
                            <div class="col-lg-4 col-md-4">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" class="form-control"
                                       pattern="[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+"
                                       required>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <label for="apellidoPaterno" class="form-label">Apellido paterno:</label>
                                <input type="text" id="apellidoPaterno" name="apellidoPaterno" class="form-control"
                                       pattern="[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+"
                                       required>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <label for="apellidoMaterno" class="form-label">Apellido materno:</label>
                                <input type="text" id="apellidoMaterno" name="apellidoMaterno" class="form-control"
                                       pattern="[A-Za-záéíóúÁÉÍÓÚñÑüÜ\s]+"
                                       required>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-times me-2"></i>Cancelar
                    </button>
                    <button id="btnModalPersonal" type="submit" class="btn btn-primary">
                        <i id="btnIcon" class="fas fa-save me-2"></i>Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById('modalPersonal');
        const form = modal.querySelector('#formPersonal');
        const btnSubmit = form.querySelector('button[type="submit"]');
        const boton = bloqueadorBoton(btnSubmit);

        modal.addEventListener('show.bs.modal', function (event) {
            const btn = event.relatedTarget;

            // Asignar valores
            form.querySelector('#identityUserId').value = btn.dataset.userid || '';
            form.querySelector('#nombre').value = btn.dataset.nombre || '';
            form.querySelector('#apellidoPaterno').value = btn.dataset.apellidopaterno || '';
            form.querySelector('#apellidoMaterno').value = btn.dataset.apellidomaterno || '';
        });

        // Limpiar
        modal.addEventListener('hidden.bs.modal', () => {
            form.reset();
            boton.restaurar();
        });

        // 3. Submit
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            e.stopPropagation();
            boton.bloquear();

            try {
                const url = form.getAttribute('action');
                const formData = new FormData(form);
                const data = await executeFetch(url, 'POST', formData);
                showGlobalModal('success', data.message);
            } catch (error) {
                showGlobalModal('error', error.message, {
                    onClose: function() {
                        boton.restaurar();
                    }
                });
            }
        });
    });
</script>
