@model PortalCOSIE.Application.Features.Usuarios.DTO.PersonalDTO

<div class="row mb-3">
    <div class="col-md-6 mb-3">
        <div class="p-3 border rounded-3 bg-light">
            <small class="text-muted">Id. empleado</small>
            <h6 class="fw-bold mb-0">@Model.IdEmpleado</h6>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="p-3 border rounded-3 bg-light">
            <small class="text-muted">Area</small>
            <h6 class="fw-bold mb-0">Gestión escolar</h6>
        </div>
        <div class="text-muted small">Este es un atributo para mostrar la escalabilidad de los atributos en las vistas</div>
    </div>
</div>