@{
    var version = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version?.ToString();
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UPIITA COSIE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/PortalCOSIE.Web.styles.css" asp-append-version="true" />

    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />

    <style>
        body {
            background-image: url('/img/background.jpg');
            background-size: cover; /* Hace que la imagen cubra toda la pantalla */
            background-repeat: no-repeat; /* Evita repeticiones */
            background-position: center; /* Centra la imagen */
        }

                        
        .form-text a {
            color: #6A1B4D;
            text-decoration: none;
            font-weight: 500;
        }

            .form-text a:hover {
                text-decoration: underline;
            }

        footer {
            text-align: center;
            color: #eee;
            font-size: 0.9em;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">

    <main class="flex-grow-1 d-flex justify-content-center align-items-center">
        @RenderBody()
    </main>

    <!-- Footer fijo al fondo -->
    <footer class="text-center py-3">
        <p class="mb-0">© @DateTime.Now.Year - UPIITA COSIE @("v" + version)</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
